@model AzureBeyondBasics.Controllers.CustomerEntiry

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        Create new Customer @Model.RowKey;

    </div>
</body>
</html>

